services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: pms
      POSTGRES_PASSWORD: pms
      POSTGRES_DB: pmsdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3.11-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    hostname: kafka
    container_name: kafka
    environment:
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CLUSTER_ID: "dOFfvAcdQZKE60Enfcsefg"
      CLUSTER_ID: "dOFfvAcdQZKE60Enfcsefg"
      KAFKA_NODE_ID: 1
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"
    volumes:
      - kafka_data:/var/lib/kafka/data
    depends_on:
      - postgres
      - rabbitmq

  schema-registry:
    image: confluentinc/cp-schema-registry:7.5.0
    container_name: schema-registry
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: PLAINTEXT://kafka:9092
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
    ports:
      - "8081:8081"
    depends_on:
      - kafka

  trade-capture:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: trade-capture
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: pmsdb
      DB_USER: pms
      DB_PASS: pms
      RABBIT_HOST: rabbitmq
      RABBIT_PORT: 5672
      RABBIT_USER: guest
      RABBIT_PASS: guest
      KAFKA_BOOTSTRAP: kafka:9092
      APP_INGESTION_QUEUE: trade.ingest.raw
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - rabbitmq
      - kafka

  trade-simulator:
    build:
      context: ./simulator
      dockerfile: Dockerfile
    container_name: trade-simulator
    environment:
      RABBIT_HOST: rabbitmq
      RABBIT_PORT: 5672
      RABBIT_USER: guest
      RABBIT_PASS: guest
      APP_INGESTION_QUEUE: trade.ingest.raw
      APP_SIMULATOR_RATE: 50
      APP_SIMULATOR_DURATION: 20
    depends_on:
      - rabbitmq

volumes:
  pgdata:
  rabbitmq_data:
  kafka_data:
